<ion-app>
  <ion-content>
<!-- página principal -->
    <div  class="ion-page" id="main-content">
      <ion-header >
        <ion-toolbar>
          <ion-title>Tus datos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list [inset]="true">
          <ion-item>
            <ion-label>Correo electronico del usuario </ion-label>
          </ion-item>
          <ion-item>
            <ion-label style="color: gray;"> {{ email || 'No disponible' }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-button [routerLink]="['/home']"  expand="block" style="--background:#FF914D">Ir al menú</ion-button>
          </ion-item>
          
        </ion-list>
      </ion-content>
    </div>
  </ion-content>
</ion-app>
