<ion-app>
<ion-content [fullscreen]="true">
      <div class="header">
        <h5 class="titulo-h5">Restrablecer contraseña</h5>
      <p class="subtitulo">Ingresa tu correo para comenzar la recuperación de contraseña
      </p>
      </div>
  <div class="ion-padding">
    <ion-item>
      <ion-input type="email" label=""  name="email" [(ngModel)]="email" placeholder="Correo Electronico"></ion-input>
          <ion-icon name="mail-outline"><ion-icon name="mail-outline"></ion-icon></ion-icon>
    </ion-item>
      <div class="boton2">
        <ion-button  (click)="resetPassword()"expand="block" >
          Enviar
        </ion-button>
      </div>
      <div class="claveOlv">
        <p><a [routerLink]="['/login']" style="color:#FF914D;">Volver al inicio de sesión</a></p>
      </div>
    </div>
</ion-content>
</ion-app>