<ion-app>
  <ion-content >

    <h2>Bienvenido (pag. login) </h2>
    <ion-item>
      <ion-input type="text" label="Usuario:"  name="usuario" [(ngModel)]="usuario" placeholder="ejemplo: usuario.123@duocuc.cl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Contraseña:"  name="password" [(ngModel)]="password" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button  expand="block" (click)="ingresar()" >
        Ingresar
      </ion-button>
    </ion-item>
  </ion-content>

</ion-app>
