<ion-app>
  <ion-content [fullscreen]="true">
    <div class="header">
      <h5 class="titulo-h5">BIENVENIDO</h5>
    <p class="subtitulo">Registra una cuenta
    </p>
    <!-- aqui va el logo -->
    <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="geo scale-up-bottom" src="assets/geo.png" alt="" width="80">
      </ion-col>
    </ion-row>
  </ion-grid>
    </div>
  
    <form>
<!-- ingreso usuario y contraseña(keyup.enter="guardar()") -->
      <div class="ion-padding">
        <form [formGroup]="formularioRegister" >
          <ion-item>
            <ion-input formControlName="usuario" placeholder="Usuario"></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input formControlName="correo"  placeholder="Correo Electronico"></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmar Contraseña"></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>
        </form>
<!-- boton para ingresar a la pagina principal si hizo el login correcto -->
        <div class="boton2">
          <ion-button expand="block" (click)="registrarse()" >
            Crear Cuenta
          </ion-button>
        </div>
      </div>
<!-- Esto te lleva a la paginal register -->      
      <div class="claveOlv">
        <p>Ya soy miembro <a [routerLink]="['/login']" style="color:#FF914D;">Volver al inicio de sesión</a></p>
      </div>
    </form>
  </ion-content>
</ion-app>


