<ion-app>
  <ion-content [fullscreen]="true">
    <div class="header">
      <ion-title class="titulo">BIENVENIDO</ion-title>
    <p class="subtitulo">Registra una cuenta
    </p>
    <!-- aqui va el logo -->
    <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="geo" src="assets/geo.png" alt="" width="80">
      </ion-col>
    </ion-row>
  </ion-grid>
    </div>
  
    <form>
<!-- ingreso usuario y contraseña -->
      <div class="ion-padding">
      <ion-item>
        <ion-input type="email" label=""  name="correo"  placeholder="correo electronico"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="text" label=""  name="usuario"  placeholder="nombre de usuario"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="password" label=""  name="password" placeholder="contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
<!-- boton para ingresar a la pagina principal si hizo el login correcto -->
        <ion-item>
          <ion-button expand="block" >
            Crear Cuenta
          </ion-button>
        </ion-item>
      </div>
<!-- Esto te lleva a la paginal register -->      
      <div class="claveOlv">
        <p>Ya soy miembro <a [routerLink]="['/login']" style="color:#FF914D;">Volver al inicio de sesión</a></p>
      </div>
    </form>
  </ion-content>
</ion-app>


