<ion-app>
  <!-- opciones que aparecen a la derecha -->
  <ion-content>
    <ion-menu  side="end" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Opciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button [routerLink]="['/estadisticas']" shape="round" expand="full" fill="">
          Estadisticas</ion-button>
          <ion-button [routerLink]="['/cuenta']" shape="round" expand="full" fill="">
            Cuenta</ion-button>
            <ion-button [routerLink]="['/sobre']" shape="round" expand="full" fill="">
              Sobre nosotros</ion-button>
            
        <br>
        <ion-button (click)="logOut()" style="color: gray;" shape="round" expand="full" fill="">
          <ion-icon name="log-out-outline" slot="end"></ion-icon>
          Cerrar Sesión</ion-button>
      </ion-content>
    </ion-menu>
<!-- página principal -->
    <div  class="ion-page" id="main-content">
      <ion-header >
        <ion-toolbar>
          <ion-title *ngIf="user">Bienvenido a GeoCash</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <div #map id="map"></div>

        
        <!-- boton de actualizar ubicacion  -->    
        <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="padding-right: 30px; padding-bottom: 200px;">
          <ion-fab-button expand="block" (click)="updateLocation()"  >
            <ion-icon name="location" ></ion-icon>
          </ion-fab-button>
        </ion-fab>

         <!-- Input para ingresar el número -->
         <ion-item>
          <ion-label position="floating">Cantidad de dinero gastado</ion-label>
          <ion-input [(ngModel)]="markerNumber" type="number" placeholder="$"></ion-input>
        </ion-item>
      
        <!-- Botón para habilitar la acción de marcar lugar -->
        <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="padding-right: 30px; padding-bottom: 120px; ">
          <ion-fab-button expand="block" (click)="enableMarking()" style="" >
            <ion-icon name="cash-outline" ></ion-icon>
          </ion-fab-button>
        </ion-fab>
  

      </ion-content>
    </div>
  </ion-content>
  <ion-footer >
    <ion-toolbar class="footer">
      <p >GeoCash beta</p>
      
    </ion-toolbar>
  </ion-footer>
</ion-app>