<ion-app>
  <!-- opciones que aparecen a la derecha -->
  <ion-content>
    <ion-menu  side="end" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Opciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button (click)="estadisticas()" shape="round" expand="full" fill="">
          Estadisticas</ion-button>
          <ion-button (click)="cuenta()" shape="round" expand="full" fill="">
            Cuenta</ion-button>
            <ion-button (click)="sobre()" shape="round" expand="full" fill="">
              Sobre nosotros</ion-button>
        <br>
        <ion-button (click)="logOut()" style="color: gray;" shape="round" expand="full" fill="">
          <ion-icon name="log-out-outline" slot="end"></ion-icon>
          Cerrar Sesión</ion-button>
      </ion-content>
    </ion-menu>
<!-- página principal -->
    <div  class="ion-page" id="main-content">
      <ion-header >
        <ion-toolbar>
          <ion-title >Menú</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <div #map id="map"></div>





        
        <!-- boton de actualizar ubicacion  -->    
        <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
          <ion-fab-button expand="block" (click)="updateLocation()"  >
            <ion-icon name="location" ></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </div>
  </ion-content>
  <ion-footer >
    <ion-toolbar class="footer">
      <p >GeoCash beta</p>
    </ion-toolbar>
  </ion-footer>
</ion-app>