

ion-menu::part(backdrop) {
  background-color: black;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.25);
}

ion-toolbar{
  --background: #18555C;
  --color:#f1f1f1;
}
ion-toolbar.footer{
  --background: #f1f1f1;
  --color:gray;
}

ion-item{
  --background:'#f1f1f1';
 border-radius: 500px;
 margin-bottom: 16px;
}

::ng-deep{
  height: 90%;
  

}

ion-fab-button::part(native) {
  background-color: #18555C;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: white;
}
ion-content {
  --background: transparent;
}

body {
  background: transparent;
}
